.profile-container {
    top: 80px;
    left: 0;
    height: calc(100vh - 6px);
    width: 100%;
    padding-bottom: 60px;
    box-sizing: border-box;
    margin-top: 70px;
    padding-top: 0;
    border-top: none;
    margin-bottom: 100px;
    padding-bottom: 200px;
    overflow-y: scroll;

}

.perfil img {
    width: 200px;
}

.favorites {
    width: 100%;
}

.profiled {
    width: 100%;
}