.Editservice {
    background-image: url('/public/images/fondo_madera.jpg');
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 6px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 0;
    border-top: none;
    overflow: hidden;
}

.my-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}